﻿<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#home">AnaSayfa</a>
                    <a href="#about">Hakkımda</a>
                    <a href="#services">Hizmetlerim</a>
                    <a href="#project">Projelerim</a>
                    <a href="#testimonial">Referans</a>
                    <a href="#contact">İletişim</a>
                </p>
                <p class="footer-company-name">
                    Tüm Hakları Satın Alınmıştır. &copy; 2025 <a href="#"></a> Design By :
                    <a href="https://html.design/">Şeyda Nur Ovacı</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div>