﻿@model AcunMefyaAkademiPortfolio.Models.TblService
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmet Ekleme</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" class="table table-bordered" name="Title" />
    <label>Proje Açıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Description"></textarea>
    <br />
    <label> Proje Resim Yolu</label>
    <input type="text" class="table table-bordered" name="ImageUrl" />
    <br />
    <button class="btn btn-info">Projeyi Kaydet</button>
</form>